body{
    width: auto;
    background-image: url(/images/pngkit_catering-logo-png_4210689.png);
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    
    
}